<html>
  <head>
    <title>Federico's Battleships Page</title>
  </head>
  <body>
    <h1><a href = 'localhost:9393'>Welcome to Battleships.</a></h1>
    <p>Please enter a name to continue:</p>
    <form action='enter' method='post'>
	   <input type='text' name='name' placeholder='Please enter your name to login'>
	   <button>Log in</button>
    </form>
    <form method="get" action="clear" class="button_to">
    <div><input value="Clear counter" type="submit" /></div>
    </form>
  </body>
</html>