<html>
  <head>
    <title>Federico's Battleships Page</title>
  </head>
  <body>
    <h1><a href = 'localhost:9393'>Welcome to Battleships.</a></h1>
    <p>Hello, <%= session[:player_name] %>, you are correctly signed inside Battleships.</p>
    <form method="get" action="play" class="button_to">
    <div><input value="Play Battleships!" type="submit" /></div>
  </form>
  </body>
</html>