<html>
  <head>
    <title>Federico's Battleships Page</title>
  </head>
  <body>
    <h1><a href = 'localhost:9393'>Welcome to Battleships.</a></h1>
    <p>Please place a ship to continue:</p>
    <form action='enter_name' method='post'>
	   <input type='text' name='ship_name' placeholder='Ship type:'>
     <input type='text' name='coordinate' placeholder='Coordinate:'>
	   <button>Go!</button>
    </form>
  </body>
</html>