<html>
  <head>
    <title>Federico's Battleships Page</title>
  </head>
  <body>
    <h1><a href = 'localhost:9393'>Welcome to Battleships.</a></h1>
    <p><%= @session_full %></p>
    <form method="get" action="back" class="button_to">
      <div><input value="Back to home" type="submit" /></div>
    </form>
  </body>
</html>